---
import { Icon } from "astro-icon/components";
import styles from "./Card.module.scss";

interface Props {
  icon?: string;
  text: string;
}

const { icon, text = "Card" } = Astro.props;
---

<div class={styles.card}>
  {icon && <Icon name={icon} class="w-12 h-12" />}
  <span class={styles.text}>{text}</span>
</div>
