---
import { Icon } from "astro-icon/components";
import {socials} from "../consts" 

const today = new Date();
---
<footer class="flex items-center justify-between w-full py-4 max-w-screen-lg mx-auto pb-12">
	<p class="text-white mt-0 mb-0">
		{new Date().getFullYear()} © Nikola Milić
	</p>

	<ul class="flex flex-wrap gap-4">
		{
			socials.map(item => (
				<li data-sal="slide-up">
					<a
						class="button is-round"
						href={item.url}
						target="_blank"
						rel="noopener noreferrer">
						<Icon name={item.icon} class="w-6 h-6" />
					</a>
				</li>
			))
		}
	</ul>
</footer>