---
import styles from './Navigation.module.scss';
---
<nav class={styles.navigation}>
    <ul>
        <li>
            <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Home</a>
        </li>
    </ul>
</nav>