.projectCard {
  height: 100%;
  color: rgb(var(--black));
  @apply flex flex-col gap-2 p-4 pr-8 border border-gray-200 rounded-md md:flex-row md:gap-8 transition-all ease-in-out duration-300;

  &:hover {
    border-color: var(--secondary);
    color: var(--primary);
    box-shadow: 6px 6px 0px var(--secondary);

    * {
      color: var(--primary);
    }

    .icon {
      opacity: 1;
      transform: translateX(0);
    }
  }

  img {
    width: 100%;
    max-width: 214px;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    @apply shadow-sm;
  }
}

.body {
  position: relative;
  flex: 1;
  @apply py-6;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  @apply gap-4;

  .icon {
    display: flex;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    transform: translateX(-24px);
  }
}

.content {
  display: flex;
  flex-direction: column;
}