---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseHead from '../components/BaseHead.astro';
import Footer from "../components/Footer.astro";
---
<!doctype html>
<html lang="hr">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
	<body>
    <slot />
    <Footer />
	</body>
</html>
